body {
    background-color: rgb(65, 65, 65);
}

h1 {
    font-family: Comic Sans MS;
    font-size: 120px;
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.multicolortext {
    background-image: linear-gradient(90deg,
    #ff0000 0%, 
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%, 
    #3fdad8 40%,
    #2fc9e2 50%, 
    #1c7fee 60%, 
    #5f15f2 70%, 
    #ba0cf8 80%, 
    #fb07d9 90%, 
    #ff0000 100%  );

  background-clip: border-box;
  background-size: 400% auto;
  color: #fff;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 16s linear infinite;
  display: inline-block;
      font-size: 90px;
    filter: drop-shadow(5px 5px rgb(0, 0, 0));
  }

  @keyframes textclip {
    to {
      background-position: 400% center;
    }
  }